workflows/reflexivo-simples/My workflow.json
{
  "name": "Reflexivo simples",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify({\n  userMessage: $('Webhook').item.json.body.chatInput,\n  trip: $node[\"AI Agent1\"].json.output,\n  flights: $node[\"Simplify Flights\"].json.flightOffers,\n  hotels: $node[\"Simplify Hotels\"].json.hotelOffers\n}, null, 2) }}\n",
        "options": {
          "systemMessage": "=Você é o Agente Reflexivo Simples (Condition → Action) do projeto “Agente de Planejamento de Viagens”.\n\nVocê NÃO mantém estado.\nVocê NÃO possui memória.\nVocê responde apenas com base nos dados fornecidos nesta mensagem.\n\nVocê receberá um JSON com:\n- trip: informações da viagem (origem, destino, datas, passageiros)\n- flights: lista (até 5) de opções de voos simplificadas\n- hotels: lista (até 5) de opções de hotéis simplificadas (com preço/datas quando disponível)\n- userMessage: mensagem original do usuário\n\nTarefas:\n1) Fazer um plano de viagem, igual a um agente de viagens faria (origem → destino, datas, passageiros).\n2) Apresente a cidade, mostre os melhores pontos turísticos e por que é um bom local\n2) Selecionar e apresentar as melhores opções de voo (priorize menor preço; em empate, menos paradas).\n   - Para cada voo, mostre: companhia, preço total e moeda, horário de ida/volta (se houver), duração e paradas.\n3) Selecionar e apresentar até 3 hotéis (priorize menor preço total quando existir).\n   - Para cada hotel, mostre: nome, preço total (se existir), datas (se existirem), e endereço/bairro se disponível.\n4) Listar 3 pontos turísticos famosos da cidade de destino (sem inventar preços).\n5) Se algum dado essencial estiver faltando (ex.: destino, datas ou voos/hotéis vazios), peça somente o que falta ou explique que não há resultados.\n\nRegras:\n- NÃO invente preços, horários, companhias, hotéis ou detalhes que não estejam no JSON.\n- Se flights estiver vazio, diga que não encontrou voos e sugira ajustar aeroporto/datas.\n- Se hotels estiver vazio, diga que não encontrou hotéis e sugira tentar outras datas ou aumentar a busca.\n- Seja objetivo e use bullets.\n\nFormato de saída (texto):\n✅ Resumo da viagem\n✈️ Voos (3 opções)\n🏨 Hotéis (até 3 opções)\n📍 3 pontos turísticos\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1840,
        0
      ],
      "id": "88e44a4e-8f0c-4676-b716-a6d3b319d4ae",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\n{{ $json.body.chatInput }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Você é um Agente LLM Reflexivo Simples (Condition → Action).\nVocê NÃO mantém estado, NÃO possui memória e NÃO planeja em múltiplos passos.\n\nTarefa:\n- Extrair: cidade de origem e IATA dessa cidade, cidade de destino e IATA dessa cidade, data de ida, data de volta, adultos e crianças.\n- Se faltar ano, usar 2026.\n- Se faltar cidade de origem, usar Recife.\n- Se faltar passageiros, usar adults=1 e children=0.\n- Retornar APENAS JSON válido.\n\nFormato obrigatório de saída:\n{\n  \"originCity\": \"string\",\n  \"originCityIATA\": \"string\",\n  \"destinationCity\": \"string\",\n  \"destinationCityIATA\": \"string\",\n  \"departureDate\": \"YYYY-MM-DD\",\n  \"returnDate\": \"YYYY-MM-DD\",\n  \"adults\": \"number\",\n  \"children\": \"number\"\n}\n\nResponda APENAS com JSON válido.\nNÃO use blocos de código (não use ```).\nNÃO coloque texto antes ou depois do JSON.\nNunca inclua quebras de linha nos valores. Remova espaços extras no início/fim.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        432,
        0
      ],
      "id": "7e1b306a-1a02-40f1-8d7e-45d2564c7426",
      "name": "AI Agent1",
      "notesInFlow": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://test.api.amadeus.com/v1/security/oauth2/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "client_credentials"
            },
            {
              "name": "client_id",
              "value": "MPGjLikELueHrDGVkOscTWVsaiqh91s3"
            },
            {
              "name": "client_secret",
              "value": "ASUF9TFhBAxPUPbP"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        784,
        0
      ],
      "id": "4f4b9f59-8a37-44da-8f61-b140ede3ef9c",
      "name": "Amadeus OAuth Token"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"originCity\": \"string\",\n  \"originCityIATA\": \"string\",\n  \"destinationCity\": \"string\",\n  \"destinationCityIATA\": \"string\",\n  \"departureDate\": \"string\",\n  \"returnDate\": \"string\",\n  \"adults\": \"number\",\n  \"children\": \"number\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        592,
        208
      ],
      "id": "1202d97d-efaa-4317-b52e-560aa4653329",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "url": "https://test.api.amadeus.com/v2/shopping/flight-offers",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "originLocationCode",
              "value": "={{$node[\"AI Agent1\"].json.output.originCityIATA}}"
            },
            {
              "name": "destinationLocationCode",
              "value": "={{$node[\"AI Agent1\"].json.output.destinationCityIATA}}"
            },
            {
              "name": "departureDate",
              "value": "={{$node[\"AI Agent1\"].json.output.departureDate}}"
            },
            {
              "name": "returnDate",
              "value": "={{$node[\"AI Agent1\"].json.output.returnDate}}"
            },
            {
              "name": "adults",
              "value": "={{$node[\"AI Agent1\"].json.output.adults}}"
            },
            {
              "name": "currencyCode",
              "value": "BRL"
            },
            {
              "name": "max",
              "value": "5"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$node[\"Amadeus OAuth Token\"].json[\"access_token\"]}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        992,
        0
      ],
      "id": "7e52b3fb-288e-4802-9dd5-0bd89f681d58",
      "name": "Buscar VOOS1"
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "google_hotels"
            },
            {
              "name": "q",
              "value": "={{ \"hotels in \" + $node[\"AI Agent1\"].json.output.destinationCity }}"
            },
            {
              "name": "check_in_date",
              "value": "={{$node[\"AI Agent1\"].json.output.departureDate}}"
            },
            {
              "name": "check_out_date",
              "value": "={{$node[\"AI Agent1\"].json.output.returnDate}}"
            },
            {
              "name": "adults",
              "value": "={{ parseInt($node[\"AI Agent1\"].json.output.adults, 10) }}"
            },
            {
              "name": "currency",
              "value": "BRL"
            },
            {
              "name": "sort_by",
              "value": "3"
            },
            {
              "name": "api_key",
              "value": "7020fdeced29cf0c4a8ca7f140ec4870219905a1119668c05308ba1687e74fdb"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$node[\"Amadeus OAuth Token\"].json.access_token}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1408,
        0
      ],
      "id": "d45a6d2a-c67a-40b2-a8a4-5b12e2773c41",
      "name": "Buscar Hotéis"
    },
    {
      "parameters": {
        "jsCode": "const res = $json;\n\n// dependendo da config do n8n, pode vir em body\nconst payload = res.body && typeof res.body === 'object' ? res.body : res;\n\nconst props = payload.properties || [];\nconst simplified = props.slice(0, 5).map((p) => ({\n  name: p.name || null,\n  address: p.address || null,\n  rating: p.overall_rating ?? p.rating ?? null,\n  reviews: p.reviews ?? null,\n  price_per_night: p.rate_per_night?.lowest ?? p.rate_per_night ?? null,\n  total_rate: p.total_rate ?? null,\n  currency: p.rate_per_night?.currency ?? p.currency ?? \"BRL\",\n  link: p.link || null\n}));\n\nreturn [{ json: { hotelOffers: simplified } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1584,
        0
      ],
      "id": "7f5aa784-cd13-4b11-8863-4b6a8ca8da12",
      "name": "Simplify Hotels"
    },
    {
      "parameters": {
        "jsCode": "// 1) Normaliza payload (às vezes o n8n guarda como string)\nlet payload = $json;\n\n// Caso 1: veio como string em payload.data (ou em payload.body)\nif (typeof payload.data === \"string\") {\n  payload = JSON.parse(payload.data);\n} else if (payload.body && typeof payload.body === \"string\") {\n  payload = JSON.parse(payload.body);\n} else if (payload.body && typeof payload.body === \"object\") {\n  payload = payload.body;\n}\n\n// 2) Pega lista de ofertas\nconst offers = Array.isArray(payload.data) ? payload.data : [];\nconst carriers = payload.dictionaries?.carriers || {};\n\n// Helpers\nfunction pickSegmentInfo(itinerary) {\n  const segs = itinerary?.segments || [];\n  if (!segs.length) return null;\n\n  const first = segs[0];\n  const last = segs[segs.length - 1];\n\n  return {\n    from: first.departure?.iataCode || null,\n    to: last.arrival?.iataCode || null,\n    departAt: first.departure?.at || null,\n    arriveAt: last.arrival?.at || null,\n    duration: itinerary?.duration || null,\n    stops: Math.max(0, segs.length - 1),\n    segments: segs.map(s => ({\n      from: s.departure?.iataCode || null,\n      to: s.arrival?.iataCode || null,\n      departAt: s.departure?.at || null,\n      arriveAt: s.arrival?.at || null,\n      carrierCode: s.carrierCode || null,\n      number: s.number || null,\n      duration: s.duration || null\n    }))\n  };\n}\n\nfunction airlineNameFromOffer(offer) {\n  const code =\n    (offer.validatingAirlineCodes && offer.validatingAirlineCodes[0]) ||\n    offer.itineraries?.[0]?.segments?.[0]?.carrierCode ||\n    null;\n\n  return {\n    code,\n    name: code ? (carriers[code] || code) : null\n  };\n}\n\n// 3) Simplifica\nconst simplified = offers.slice(0, 5).map((offer) => {\n  const priceTotal = offer.price?.total || null;\n  const currency = offer.price?.currency || null;\n\n  const airline = airlineNameFromOffer(offer);\n\n  const outbound = pickSegmentInfo(offer.itineraries?.[0]);\n  const inbound = pickSegmentInfo(offer.itineraries?.[1]);\n\n  return {\n    airline: airline.name,\n    airlineCode: airline.code,\n    price: { total: priceTotal, currency },\n    outbound,\n    inbound,\n    // opcional: guarda o id da oferta (às vezes útil depois)\n    offerId: offer.id || null\n  };\n});\n\n// 4) Saída pequena e limpa\nreturn [{\n  json: {\n    flightOffers: simplified,\n    meta: {\n      totalOffersReceived: offers.length\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        0
      ],
      "id": "7b9afce1-cdc8-4f88-a809-5356e2df93aa",
      "name": "Simplify Flights"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-simple",
        "responseMode": "lastNode",
        "options": {
          "allowedOrigins": "*",
          "rawBody": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "687a87cb-ec3d-45fe-9175-1fb2fc3d7604",
      "name": "Webhook",
      "webhookId": "b370cdcf-53d2-48a7-b3da-718c7543dc89"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.1",
          "mode": "list",
          "cachedResultName": "gpt-5.1"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        336,
        208
      ],
      "id": "2d15f238-9652-4e4d-aa16-35e37ff00b31",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "tkKS5g4EKLMRBwWj",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.1",
          "mode": "list",
          "cachedResultName": "gpt-5.1"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1760,
        192
      ],
      "id": "125fcb1c-1b31-4699-bc97-27ba70d0b2e5",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "tkKS5g4EKLMRBwWj",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Amadeus OAuth Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Amadeus OAuth Token": {
      "main": [
        [
          {
            "node": "Buscar VOOS1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Buscar VOOS1": {
      "main": [
        [
          {
            "node": "Simplify Flights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Hotéis": {
      "main": [
        [
          {
            "node": "Simplify Hotels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simplify Flights": {
      "main": [
        [
          {
            "node": "Buscar Hotéis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simplify Hotels": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "fde94066-643d-4496-b5ac-0203350f8a3b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "22ea323b6c85fbb2de3a8dedaefae6ec8edb82e9c1e169fef139445834eee221"
  },
  "id": "4GbdbK7qTepTxq9pUTwCi",
  "tags": []
}