workflows/baseado-em-objetivos/My workflow 3.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Persona: Você é um Agente Planner de Viagens. Você não segue um roteiro fixo; você avalia o que tem e decide o próximo passo para alcançar o objetivo.\n\nSuas Ferramentas: Você possui ferramentas para: flight_search (voos), Google Hotels_search (hotéis) e tripadvisor_search (atrações).\n\nObjetivo: Transformar o Sstart​ (estado inicial vazio ou parcial) em Sgoal​ (viagem completa: voos + hotel + atrações).\n\nLógica de Decisão:\n\n    Analise a Memória: Veja o que já foi extraído ou buscado. Atualize o current_state.\n\n    Identifique Lacunas: > - Se falta Destino ou Data: Defina user_message com uma pergunta ao usuário.\n\n        Se tem os dados mas não buscou nas APIs: Use a ferramenta adequada. Informe no thought_process.\n\n    Critério de Parada (Distance=0): Quando tiver todos os dados consolidados (voos, hotéis e atrações), escreva o roteiro final detalhado no campo user_message e defina distance_to_goal como 0.\n\nInstruções de Saída:\n\n    Se precisar de mais informações do usuário, user_message deve ser a pergunta.\n\n    Se estiver apenas processando internamente (chamando tools), user_message pode ser algo como \"Estou pesquisando as melhores opções para você...\".\n\n    Responda APENAS com JSON.",
          "returnIntermediateSteps": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -864,
        352
      ],
      "id": "8436af14-cbf6-42c7-a968-827f5a70a427",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -992,
        576
      ],
      "id": "70e351af-a8dd-4512-8439-6c485d4d3157",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -1344,
        352
      ],
      "id": "9ccfe831-6f96-4d4a-9f63-e46229b5960f",
      "name": "When chat message received",
      "webhookId": "c686848c-b36e-4c28-abea-074f4f05a592",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1120,
        576
      ],
      "id": "c6509bd6-37eb-43d7-834c-4df128f0df1f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "wRm9vNM1G2DgJQgv",
          "name": "Google Gemini(PaLM) www.raylandsoncs"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Use esta ferramenta para buscar opções de hospedagem, hotéis e aluguéis de temporada diretamente no Google Hotels. É ideal para obter preços, avaliações e disponibilidade em tempo real. Inputs obrigatórios: Localização ou nome do hotel (parâmetro 'q'), data de check-in, data de check-out e número de adultos envolvidos nessa viajem. Use sempre que o plano de viagem exigir uma estadia.",
        "url": "https://serpapi.com/search.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "google_hotels"
            },
            {
              "name": "q",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `Required\nParameter defines the search query. You can use anything that you would use in a regular Google Hotels search.`, 'string') }}"
            },
            {
              "name": "check_in_date",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `Required\nParameter defines the check-in date. The format is YYYY-MM-DD. e.g. 2026-01-23`, 'string') }}"
            },
            {
              "name": "check_out_date",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `Required\nParameter defines the check-out date. The format is YYYY-MM-DD. e.g. 2026-01-24`, 'string') }}"
            },
            {
              "name": "adults",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', `Optional\nParameter defines the number of adults. Default to 2.`, 'string') }}"
            },
            {
              "name": "currency",
              "value": "BRL"
            },
            {
              "name": "api_key",
              "value": "=7020fdeced29cf0c4a8ca7f140ec4870219905a1119668c05308ba1687e74fdb"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -864,
        576
      ],
      "id": "b0960576-c29d-4e6e-bf54-a842958c2e27",
      "name": "Google Hotels_search"
    },
    {
      "parameters": {
        "toolDescription": "Use esta ferramenta para buscar opções de voos diretamente no Google Flights.\nÉ ideal para obter preços, companhias aéreas, duração, escalas e disponibilidade em tempo quase real.\nInputs obrigatórios: aeroporto ou cidade de origem (departure_id), aeroporto ou cidade de destino (arrival_id) e data de ida (outbound_date).\nInputs opcionais: número de adultos e crianças.\nRegras: utilizar sempre viagens apenas de ida (type=2) e nunca informar data de retorno.\nUse esta ferramenta sempre que o plano de viagem exigir deslocamento aéreo entre cidades.",
        "url": "https://serpapi.com/search.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "google_hotels"
            },
            {
              "name": "q",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', ``, 'string') }}"
            },
            {
              "name": "api_key",
              "value": "=7020fdeced29cf0c4a8ca7f140ec4870219905a1119668c05308ba1687e74fdb"
            },
            {
              "name": "currency",
              "value": "BRL"
            },
            {
              "name": "check_in_date",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', `should be in the format of YYYY-MM-DD. E.g. 2023-01-31.`, 'string') }}"
            },
            {
              "name": "departure_id",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters5_Value', `IATA MODEL`, 'string') }}"
            },
            {
              "name": "arrival_id",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters6_Value', ``, 'string') }}"
            },
            {
              "name": "check_out_date",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters7_Value', `should be in the format of YYYY-MM-DD. E.g. 2023-01-31.`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -736,
        576
      ],
      "id": "ede03f58-cbae-4280-a57c-23a1d6c9158b",
      "name": "Google Flights_search"
    },
    {
      "parameters": {
        "message": "={{ $json.output.user_message }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        -272,
        352
      ],
      "id": "cebfdfc7-9fc3-4545-a44b-fef09a007be4",
      "name": "Respond to Chat"
    },
    {
      "parameters": {
        "toolDescription": "Use esta ferramenta para pesquisar atrações turísticas, pontos de interesse, restaurantes e ler avaliações detalhadas de viajantes no Tripadvisor. É a ferramenta principal para planejar roteiros, descobrir 'o que fazer' em um destino e verificar a popularidade de locais. Input principal: O nome da cidade ou ponto turístico no parâmetro 'q'. Use sempre que o usuário pedir recomendações de lazer ou quiser saber a opinião de outros viajantes.",
        "url": "https://serpapi.com/search.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `Required\nO termo de busca para o Tripadvisor. Deve conter obrigatoriamente o nome da cidade, um ponto turístico específico ou o nome de uma atração. Exemplos: 'Paris', 'Cristo Redentor', 'Museu do Louvre'. Não inclua datas ou número de pessoas neste campo.`, 'string') }}"
            },
            {
              "name": "api_key",
              "value": "=7020fdeced29cf0c4a8ca7f140ec4870219905a1119668c05308ba1687e74fdb"
            },
            {
              "name": "ssrc",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `Optional\nThis parameter specifies the search filter you want to use for the Tripadvisor search.\nAvailable options:\na - All Results\nr - Restaurants\nA - Things to Do\nh - Hotels\ng - Destinations\nv - Vacation Rentals\nf - Forums\n\nNOTE: Tripadvisor has discontinued support for Vacation Rentals. As a result, using ssrc=v may return incomplete results or no results at all.`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -608,
        576
      ],
      "id": "b0b99e77-08dd-4382-b460-cec91b624f5e",
      "name": "Google Tripadvisor_search"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"thought_process\": \"O que já fiz e o que farei agora\",\n  \"current_state\": \"Descrição textual do progresso\",\n  \"goal\": \"Descrição do objetivo final\",\n  \"distance_to_goal\": 0.5,\n  \"user_message\": \"Mensagem direta para o usuário (pergunta ou resposta)\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -480,
        576
      ],
      "id": "c4985212-d537-4953-b99a-e7bdb9b5ee82",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Hotels_search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Flights_search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Chat": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Tripadvisor_search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "48106a80-86b0-40ef-a05a-185e10d80530",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "edc4a4812a5e5b087f04d30477d7da717fc4ce831ba8a367e362999b444580ee"
  },
  "id": "f5etlM8DPiUj8DaxKKyEV",
  "tags": []
}