workflows/aprende/My workflow 4.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "options": {
          "systemMessage": "=# ROLE\nVocê é um Agente de Viagens Amigável.\nVocê é está falando com Jorge.\n\n# RULES\nQuando um usuário mandar uma nova mensagem, decida se o usuário forneceu uma nova informações que pode ser armazenada na memória. Se sim, chama o Save Memory tool para salvar essa informação na memória. NÃO informe ao usuário que esssa informalção está sendo guardada na memória. Basta continuar respondendo à pergunta ou executando as próximas tarefas.\n\n# Tools\n## Save Memory\nUtilize esta ferramenta para armazenar informações sobre o usuário. Extraia e resuma informações relevantes das mensagens do usuário e as repasse para esta ferramenta.\n\n## Google TripAdvisor_search (atrações)\nSe você não tiver contexto sobre a cidade que o usuário quer visitar, use essa chamada de API para conseguir as melhores informações sobre o local e recomende as mais relevantes para aquele usuário de acordo com suas preferências.\n\n## Google Hotels_search (hotéis) e \nSempre que possuir os dados necessários, faça a chamada para a API. Use os preços antigos para alertar ao usuário se está mais caro ou mais barato viajar para aquele lugar, se possível tambem use outras épocas do ano. Recomende as informações mais relevantes para aquele usuário de acordo com suas preferências.\n\n## Google Flight_search (voos), \nSempre que possuir os dados necessários, faça a chamada para a API. Use os preços antigos para alertar ao usuário se está mais caro ou mais barato viajar para aquele lugar, se possível tampem use outras épocas do ano. Recomende as informações mais relevantes para aquele usuário de acordo com suas preferências.\n\n# Memories\nAqui estão as últimas lembranças relevantes que você coletou do usuário, incluindo a data e a hora em que essas informações foram coletadas.\n!! IMPORTANT!!\nPense cuidadosamente em suas respostas e leve em consideração as preferências do usuário!\nConsidere também a data e a hora em que a lembrança foi compartilhada para responder com as informações mais atualizadas.\n\n{{ $json.memories.toJsonString() }}",
          "returnIntermediateSteps": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -160,
        0
      ],
      "id": "59b92d3d-ef29-4176-aa3d-a7737a489762",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -400,
        224
      ],
      "id": "eda95956-3452-48e2-a6eb-e19f0ca64610",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "tkKS5g4EKLMRBwWj",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -272,
        224
      ],
      "id": "8cd6337d-eda3-4b52-bc1c-22dce52484b1",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "toolDescription": "Use esta ferramenta para buscar opções de hospedagem, hotéis e aluguéis de temporada diretamente no Google Hotels. É ideal para obter preços, avaliações e disponibilidade em tempo real. Inputs obrigatórios: Localização ou nome do hotel (parâmetro 'q'), data de check-in, data de check-out e número de adultos envolvidos nessa viajem. Use sempre que o plano de viagem exigir uma estadia.",
        "url": "https://serpapi.com/search.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "google_hotels"
            },
            {
              "name": "q",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `Required\nParameter defines the search query. You can use anything that you would use in a regular Google Hotels search.`, 'string') }}"
            },
            {
              "name": "check_in_date",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `Required\nParameter defines the check-in date. The format is YYYY-MM-DD. e.g. 2026-01-23`, 'string') }}"
            },
            {
              "name": "check_out_date",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `Required\nParameter defines the check-out date. The format is YYYY-MM-DD. e.g. 2026-01-24`, 'string') }}"
            },
            {
              "name": "adults",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', `Optional\nParameter defines the number of adults. Default to 2.`, 'string') }}"
            },
            {
              "name": "currency",
              "value": "BRL"
            },
            {
              "name": "api_key",
              "value": "=7020fdeced29cf0c4a8ca7f140ec4870219905a1119668c05308ba1687e74fdb"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -144,
        224
      ],
      "id": "16ac1b03-18d7-4e35-b2df-2492ff27bd4c",
      "name": "Google Hotels_search"
    },
    {
      "parameters": {
        "toolDescription": "Use esta ferramenta para buscar opções de voos diretamente no Google Flights.\nÉ ideal para obter preços, companhias aéreas, duração, escalas e disponibilidade em tempo quase real.\nInputs obrigatórios: aeroporto ou cidade de origem (departure_id), aeroporto ou cidade de destino (arrival_id), data de ida (check_in_date) e a data de volta (check_out_date) .\nInputs opcionais: número de adultos e crianças.\nRegras:Use esse formato para datas: YYYY/MM/DD\nUse esta ferramenta sempre que o plano de viagem exigir deslocamento aéreo entre cidades.",
        "url": "https://serpapi.com/search.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "google_hotels"
            },
            {
              "name": "q",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', ``, 'string') }}"
            },
            {
              "name": "api_key",
              "value": "=7020fdeced29cf0c4a8ca7f140ec4870219905a1119668c05308ba1687e74fdb"
            },
            {
              "name": "currency",
              "value": "BRL"
            },
            {
              "name": "check_in_date",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', `should be in the format of YYYY-MM-DD. E.g. 2023-01-31.`, 'string') }}"
            },
            {
              "name": "departure_id",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters5_Value', `IATA MODEL`, 'string') }}"
            },
            {
              "name": "arrival_id",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters6_Value', ``, 'string') }}"
            },
            {
              "name": "check_out_date",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters7_Value', `should be in the format of YYYY-MM-DD. E.g. 2023-01-31.`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -16,
        224
      ],
      "id": "236e5a2d-03a3-4e7f-9fef-3e0a3cbcd752",
      "name": "Google Flights_search"
    },
    {
      "parameters": {
        "toolDescription": "Use esta ferramenta para pesquisar atrações turísticas, pontos de interesse, restaurantes e ler avaliações detalhadas de viajantes no Tripadvisor. É a ferramenta principal para planejar roteiros, descobrir 'o que fazer' em um destino e verificar a popularidade de locais. Input principal: O nome da cidade ou ponto turístico no parâmetro 'q'. Use sempre que o usuário pedir recomendações de lazer ou quiser saber a opinião de outros viajantes.",
        "url": "https://serpapi.com/search.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `Required\nO termo de busca para o Tripadvisor. Deve conter obrigatoriamente o nome da cidade, um ponto turístico específico ou o nome de uma atração. Exemplos: 'Paris', 'Cristo Redentor', 'Museu do Louvre'. Não inclua datas ou número de pessoas neste campo.`, 'string') }}"
            },
            {
              "name": "api_key",
              "value": "=7020fdeced29cf0c4a8ca7f140ec4870219905a1119668c05308ba1687e74fdb"
            },
            {
              "name": "ssrc",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `Optional\nThis parameter specifies the search filter you want to use for the Tripadvisor search.\nAvailable options:\na - All Results\nr - Restaurants\nA - Things to Do\nh - Hotels\ng - Destinations\nv - Vacation Rentals\nf - Forums\n\nNOTE: Tripadvisor has discontinued support for Vacation Rentals. As a result, using ssrc=v may return incomplete results or no results at all.`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        112,
        224
      ],
      "id": "20ba95bd-585c-4844-9699-e95066a3edf5",
      "name": "Google Tripadvisor_search"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use esta ferramenta quando o usuário fornecer uma informação nova e útil para lembrar depois (preferências, datas, nomes, cidade, orçamento). Envie um único campo memory com uma frase curta resumindo o que deve ser lembrado.",
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appLzFWambPh8qsb3",
          "mode": "list",
          "cachedResultName": "Agent Memories",
          "cachedResultUrl": "https://airtable.com/appLzFWambPh8qsb3"
        },
        "table": {
          "__rl": true,
          "value": "tbll3xZKpyyu5xPq8",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appLzFWambPh8qsb3/tbll3xZKpyyu5xPq8"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "User": "Jorge",
            "Memory": "={{ $fromAI('memory') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Memory",
              "displayName": "Memory",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "User",
              "displayName": "User",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Creadet",
              "displayName": "Creadet",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        240,
        224
      ],
      "id": "91166686-dad5-44b5-bce7-737c09e576d2",
      "name": "Save Memory",
      "credentials": {
        "airtableTokenApi": {
          "id": "sRnJlmxf8IOcFa1i",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -1216,
        0
      ],
      "id": "f5555bf9-2887-4c95-aab0-b61eb4a5a8d8",
      "name": "When chat message received",
      "webhookId": "c686848c-b36e-4c28-abea-074f4f05a592",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appLzFWambPh8qsb3",
          "mode": "list",
          "cachedResultName": "Agent Memories",
          "cachedResultUrl": "https://airtable.com/appLzFWambPh8qsb3"
        },
        "table": {
          "__rl": true,
          "value": "tbll3xZKpyyu5xPq8",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appLzFWambPh8qsb3/tbll3xZKpyyu5xPq8"
        },
        "filterByFormula": "=({User} = 'Jorge')",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -896,
        176
      ],
      "id": "488c581e-88b3-4528-ad07-f65a2b8b12dd",
      "name": "Get Memories",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "sRnJlmxf8IOcFa1i",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "memories",
        "include": "specifiedFields",
        "fieldsToInclude": "Memory, Creadet",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -656,
        176
      ],
      "id": "5d60927e-0b46-44f7-8b42-76657869e81e",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -448,
        0
      ],
      "id": "9b4042c5-a6e8-436d-b3ee-52212e3aafc8",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Hotels_search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Flights_search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Tripadvisor_search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Save Memory": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Get Memories",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get Memories": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "6d9d6cd3-c34d-4167-8cef-95b9c408c5b8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "22ea323b6c85fbb2de3a8dedaefae6ec8edb82e9c1e169fef139445834eee221"
  },
  "id": "4-Mxzy4OwZfVgd3V1ZeDD",
  "tags": []
}