workflows/aprende/My workflow 4.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=mensagem do usuário: {{ $json.body.chatInput }}\nMemórias:\n{{ $json.memories.map(m => m.Memory).join('\\n') }}",
        "options": {
          "systemMessage": "=# ROLE\nVocê é um Agente de Viagens experiente, entusiasmado e extremamente proativo.\nVocê está conversando com {{ $node[\"Webhook\"].json.body.user }}, em português (pt-BR), trate ele como um amigo, cliente VIP.\nSeu objetivo é planejar a viagem perfeita, antecipando as necessidades dele.\n\n# GUIDELINES (Diretrizes de Comportamento)\n1. **Naturalidade Extrema:**\n   - NUNCA use termos como: \"banco de dados\", \"memória\", \"histórico\", \"json\", \"API\", \"sistema\" ou \"variáveis\".\n   - NUNCA justifique como você sabe algo (ex: \"Vi no seu perfil que...\", \"Baseado no que você disse antes...\", \"Pela sua memória...\").\n\n2. **Protocolo de \"Contexto Invisível\":**\n   - Trate as informações da seção MEMORIES como fatos óbvios que você já sabe. Não explique de onde vêm.\n   - **Exemplo Errado:** \"Vou assumir que você sai de Maceió baseado na sua memória.\"\n   - **Exemplo Certo:** \"Saindo de Maceió como de costume, certo?\" ou simplesmente \"Vou cotar os voos saindo de Maceió.\"\n   - **Exemplo Certo (implícito):** \"Perfeito! O Rio é incrível. Para eu ver os voos saindo de Maceió, você já tem as datas?\"\n\n3. **Gestão de Informação Ausente:**\n   - Se faltar um dado (como datas), pergunte casualmente. Não diga \"dado não encontrado\".\n   - Pergunte de forma fluida: \"Para quando você está planejando essa ida?\" em vez de \"Informe a data de partida\".\n\n# TOOLS & PROCESS\n## Save Memory\nMonitore a conversa. Se o usuário fornecer uma preferência nova (ex: mudou de cidade, nova alergia), chame esta ferramenta silenciosamente.\n\n## Pesquisas (TripAdvisor, Hotels, Flights)\n- Use estas ferramentas para buscar dados reais.\n- Não peça permissão. Se o usuário pediu uma viagem, ele quer que você pesquise.\n- Apresente os resultados como recomendações pessoais: \"Encontrei um voo ótimo...\"\n\n# MEMORIES (O que você já sabe sobre ele)\n{{ $json.memories.map(m => m.Memory).join('\\n') }}\n\n**INSTRUÇÃO DE RESPOSTA:**\nAnalise a última frase do usuário.\n- Se ele pediu um destino, verifique nas memórias a cidade de origem dele.\n- Responda confirmando o destino e integrando a cidade de origem na frase NATURALMENTE, sem explicações.\n- Faça as perguntas necessárias (datas, orçamento) para prosseguir.",
          "returnIntermediateSteps": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -480,
        112
      ],
      "id": "67193adb-dc5a-4b2d-b182-a585369b270b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "gpt-5.2"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -736,
        336
      ],
      "id": "04328af7-a67a-4ce1-b296-a5d45c5a1d4a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "tkKS5g4EKLMRBwWj",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -608,
        336
      ],
      "id": "022046d9-5d50-4273-b41d-3351b2907faa",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "toolDescription": "Use esta ferramenta para buscar opções de hospedagem, hotéis e aluguéis de temporada diretamente no Google Hotels. É ideal para obter preços, avaliações e disponibilidade em tempo real. Inputs obrigatórios: Localização ou nome do hotel (parâmetro 'q'), data de check-in, data de check-out e número de adultos envolvidos nessa viajem. Use sempre que o plano de viagem exigir uma estadia.",
        "url": "https://serpapi.com/search.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "google_hotels"
            },
            {
              "name": "q",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `Required\nParameter defines the search query. You can use anything that you would use in a regular Google Hotels search.`, 'string') }}"
            },
            {
              "name": "check_in_date",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `Required\nParameter defines the check-in date. The format is YYYY-MM-DD. e.g. 2026-01-23`, 'string') }}"
            },
            {
              "name": "check_out_date",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `Required\nParameter defines the check-out date. The format is YYYY-MM-DD. e.g. 2026-01-24`, 'string') }}"
            },
            {
              "name": "adults",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', `Optional\nParameter defines the number of adults. Default to 2.`, 'string') }}"
            },
            {
              "name": "currency",
              "value": "BRL"
            },
            {
              "name": "api_key",
              "value": "=7020fdeced29cf0c4a8ca7f140ec4870219905a1119668c05308ba1687e74fdb"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -480,
        336
      ],
      "id": "8dac13a9-87ef-444e-a6da-9fe31e475d51",
      "name": "Google Hotels_search"
    },
    {
      "parameters": {
        "toolDescription": "Use esta ferramenta para pesquisar atrações turísticas, pontos de interesse, restaurantes e ler avaliações detalhadas de viajantes no Tripadvisor. É a ferramenta principal para planejar roteiros, descobrir 'o que fazer' em um destino e verificar a popularidade de locais. Input principal: O nome da cidade ou ponto turístico no parâmetro 'q'. Use sempre que o usuário pedir recomendações de lazer ou quiser saber a opinião de outros viajantes.",
        "url": "https://serpapi.com/search.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `Required\nO termo de busca para o Tripadvisor. Deve conter obrigatoriamente o nome da cidade, um ponto turístico específico ou o nome de uma atração. Exemplos: 'Paris', 'Cristo Redentor', 'Museu do Louvre'. Não inclua datas ou número de pessoas neste campo.`, 'string') }}"
            },
            {
              "name": "api_key",
              "value": "=7020fdeced29cf0c4a8ca7f140ec4870219905a1119668c05308ba1687e74fdb"
            },
            {
              "name": "ssrc",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `Optional\nThis parameter specifies the search filter you want to use for the Tripadvisor search.\nAvailable options:\na - All Results\nr - Restaurants\nA - Things to Do\nh - Hotels\ng - Destinations\nv - Vacation Rentals\nf - Forums\n\nNOTE: Tripadvisor has discontinued support for Vacation Rentals. As a result, using ssrc=v may return incomplete results or no results at all.`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -352,
        336
      ],
      "id": "65540bc4-3f8f-495f-aa5d-f276d9691e3d",
      "name": "Google Tripadvisor_search"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use esta ferramenta quando o usuário fornecer uma informação nova e útil para lembrar depois (preferências, datas, nomes, cidade, orçamento). Envie um único campo memory com uma frase curta resumindo o que deve ser lembrado.",
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appLzFWambPh8qsb3",
          "mode": "list",
          "cachedResultName": "Agent Memories",
          "cachedResultUrl": "https://airtable.com/appLzFWambPh8qsb3"
        },
        "table": {
          "__rl": true,
          "value": "tbll3xZKpyyu5xPq8",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appLzFWambPh8qsb3/tbll3xZKpyyu5xPq8"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Memory": "={{ $fromAI('memory') }}",
            "User": "={{ $json.body.user }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Memory",
              "displayName": "Memory",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "User",
              "displayName": "User",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Creadet",
              "displayName": "Creadet",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        -64,
        336
      ],
      "id": "a11f371e-9a94-4a7f-8ef5-528f1ffffe5c",
      "name": "Save Memory",
      "credentials": {
        "airtableTokenApi": {
          "id": "sRnJlmxf8IOcFa1i",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appLzFWambPh8qsb3",
          "mode": "list",
          "cachedResultName": "Agent Memories",
          "cachedResultUrl": "https://airtable.com/appLzFWambPh8qsb3"
        },
        "table": {
          "__rl": true,
          "value": "tbll3xZKpyyu5xPq8",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appLzFWambPh8qsb3/tbll3xZKpyyu5xPq8"
        },
        "filterByFormula": "=({User} = '{{ $json.body.user }}')",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1184,
        192
      ],
      "id": "166a5b30-2f1f-4006-98e5-64cad55e506d",
      "name": "Get Memories",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "sRnJlmxf8IOcFa1i",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "memories",
        "include": "specifiedFields",
        "fieldsToInclude": "Memory, Creadet",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -960,
        192
      ],
      "id": "916acc0c-7274-4856-848a-18b3e48d42c9",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-learn",
        "responseMode": "lastNode",
        "options": {
          "allowedOrigins": "*",
          "rawBody": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1408,
        112
      ],
      "id": "c4499249-a149-42c3-8081-733b680e83a4",
      "name": "Webhook",
      "webhookId": "b370cdcf-53d2-48a7-b3da-718c7543dc89"
    },
    {
      "parameters": {
        "toolDescription": "Use esta ferramenta para buscar opções de voos diretamente no Google Flights.\nÉ ideal para obter preços, companhias aéreas, duração, escalas e disponibilidade em tempo quase real.\nInputs obrigatórios: aeroporto ou cidade de origem (departure_id), aeroporto ou cidade de destino (arrival_id), data de ida (check_in_date) e a data de volta (check_out_date) .\nInputs opcionais: número de adultos e crianças.\nRegras:Use esse formato para datas: YYYY/MM/DD\nUse esta ferramenta sempre que o plano de viagem exigir deslocamento aéreo entre cidades.",
        "url": "https://serpapi.com/search.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "google_flights"
            },
            {
              "name": "departure_id",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `IATA MODEL`, 'string') }}"
            },
            {
              "name": "api_key",
              "value": "=7020fdeced29cf0c4a8ca7f140ec4870219905a1119668c05308ba1687e74fdb"
            },
            {
              "name": "currency",
              "value": "BRL"
            },
            {
              "name": "arrival_id",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', `IATA MODEL`, 'string') }}"
            },
            {
              "name": "outbound_date",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters5_Value', `should be in the format of YYYY-MM-DD. E.g. 2023-01-31.`, 'string') }}"
            },
            {
              "name": "return_date",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters6_Value', `should be in the format of YYYY-MM-DD. E.g. 2023-01-31.`, 'string') }}"
            },
            {
              "name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters7_Name', ``, 'string') }}",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters7_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -208,
        336
      ],
      "id": "08a5caa0-50ae-465e-9838-b96a7015ed97",
      "name": "Google Flights_search"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -720,
        112
      ],
      "id": "ed74c93f-c15e-460a-ae33-e063de7eceef",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Hotels_search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Tripadvisor_search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Save Memory": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Memories": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Memories",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Flights_search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "a3a4950e-6158-46cd-b027-5d1fe7fc988c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "22ea323b6c85fbb2de3a8dedaefae6ec8edb82e9c1e169fef139445834eee221"
  },
  "id": "4-Mxzy4OwZfVgd3V1ZeDD",
  "tags": []
}