workflows/baseado-em-estados/My workflow 2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output.search_params }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Você é um Agente LLM Baseado em estados (Condition → Action).\nVocê mantém estado, possui memória e planeja em múltiplos passos.\n\nTarefa:\n- Extrair: cidade de origem e IATA dessa cidade, cidade de destino e IATA dessa cidade, data de ida, data de volta, adultos e crianças.\n- Se faltar ano, usar 2026.\n- Se faltar cidade de origem, usar Recife.\n- Se faltar passageiros, usar adults=1 e children=0.\n- Retornar APENAS JSON válido.\n\nFormato obrigatório de saída:\n{\n  \"originCity\": \"string\",\n  \"originCityIATA\": \"string\",\n  \"destinationCity\": \"string\",\n  \"destinationCityIATA\": \"string\",\n  \"departureDate\": \"YYYY-MM-DD\",\n  \"returnDate\": \"YYYY-MM-DD\",\n  \"adults\": \"number\",\n  \"children\": \"number\"\n}\n\nResponda APENAS com JSON válido.\nNÃO use blocos de código (não use ```).\nNÃO coloque texto antes ou depois do JSON.\nNunca inclua quebras de linha nos valores. Remova espaços extras no início/fim.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        3984,
        1248
      ],
      "id": "36fc3b18-5ed1-4d78-bbf1-7b4ff2bc83b7",
      "name": "AI Agent1",
      "notesInFlow": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://test.api.amadeus.com/v1/security/oauth2/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "client_credentials"
            },
            {
              "name": "client_id",
              "value": "MPGjLikELueHrDGVkOscTWVsaiqh91s3"
            },
            {
              "name": "client_secret",
              "value": "ASUF9TFhBAxPUPbP"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4336,
        1248
      ],
      "id": "292fdbee-b455-4cab-b140-7860eab7fd8a",
      "name": "Amadeus OAuth Token"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"originCity\": \"string\",\n  \"originCityIATA\": \"string\",\n  \"destinationCity\": \"string\",\n  \"destinationCityIATA\": \"string\",\n  \"departureDate\": \"string\",\n  \"returnDate\": \"string\",\n  \"adults\": \"number\",\n  \"children\": \"number\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        4128,
        1472
      ],
      "id": "a8ad0912-3e8d-4cc0-ab6b-de7b2843e111",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "url": "https://test.api.amadeus.com/v2/shopping/flight-offers",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "originLocationCode",
              "value": "={{$node[\"AI Agent1\"].json.output.originCityIATA}}"
            },
            {
              "name": "destinationLocationCode",
              "value": "={{$node[\"AI Agent1\"].json.output.destinationCityIATA}}"
            },
            {
              "name": "departureDate",
              "value": "={{$node[\"AI Agent1\"].json.output.departureDate}}"
            },
            {
              "name": "returnDate",
              "value": "={{$node[\"AI Agent1\"].json.output.returnDate}}"
            },
            {
              "name": "adults",
              "value": "={{$node[\"AI Agent1\"].json.output.adults}}"
            },
            {
              "name": "currencyCode",
              "value": "BRL"
            },
            {
              "name": "max",
              "value": "5"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$node[\"Amadeus OAuth Token\"].json[\"access_token\"]}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4560,
        1248
      ],
      "id": "0f7f48a5-bcb4-4fa0-85cb-f8629ca0be82",
      "name": "Buscar VOOS1"
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "google_hotels"
            },
            {
              "name": "q",
              "value": "={{ \"hotels in \" + $node[\"AI Agent1\"].json.output.destinationCity }}"
            },
            {
              "name": "check_in_date",
              "value": "={{$node[\"AI Agent1\"].json.output.departureDate}}"
            },
            {
              "name": "check_out_date",
              "value": "={{$node[\"AI Agent1\"].json.output.returnDate}}"
            },
            {
              "name": "adults",
              "value": "={{ parseInt($node[\"AI Agent1\"].json.output.adults, 10) }}"
            },
            {
              "name": "currency",
              "value": "BRL"
            },
            {
              "name": "sort_by",
              "value": "3"
            },
            {
              "name": "api_key",
              "value": "713d53c97101db5efe89c07168ebc9aea138a55ca118ab21ea71fccff0077036"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$node[\"Amadeus OAuth Token\"].json.access_token}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5008,
        1248
      ],
      "id": "2e5c5531-81c0-4d02-b91f-84edd0ea36b7",
      "name": "Buscar Hotéis"
    },
    {
      "parameters": {
        "jsCode": "const res = $json;\n\n// dependendo da config do n8n, pode vir em body\nconst payload = res.body && typeof res.body === 'object' ? res.body : res;\n\nconst props = payload.properties || [];\nconst simplified = props.slice(0, 5).map((p) => ({\n  name: p.name || null,\n  address: p.address || null,\n  rating: p.overall_rating ?? p.rating ?? null,\n  reviews: p.reviews ?? null,\n  price_per_night: p.rate_per_night?.lowest ?? p.rate_per_night ?? null,\n  total_rate: p.total_rate ?? null,\n  currency: p.rate_per_night?.currency ?? p.currency ?? \"BRL\",\n  link: p.link || null\n}));\n\nreturn [{ json: { hotelOffers: simplified } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5232,
        1376
      ],
      "id": "67cb79fd-03f4-486c-8f75-271005a4f658",
      "name": "Simplify Hotels"
    },
    {
      "parameters": {
        "jsCode": "// 1) Normaliza payload (às vezes o n8n guarda como string)\nlet payload = $json;\n\n// Caso 1: veio como string em payload.data (ou em payload.body)\nif (typeof payload.data === \"string\") {\n  payload = JSON.parse(payload.data);\n} else if (payload.body && typeof payload.body === \"string\") {\n  payload = JSON.parse(payload.body);\n} else if (payload.body && typeof payload.body === \"object\") {\n  payload = payload.body;\n}\n\n// 2) Pega lista de ofertas\nconst offers = Array.isArray(payload.data) ? payload.data : [];\nconst carriers = payload.dictionaries?.carriers || {};\n\n// Helpers\nfunction pickSegmentInfo(itinerary) {\n  const segs = itinerary?.segments || [];\n  if (!segs.length) return null;\n\n  const first = segs[0];\n  const last = segs[segs.length - 1];\n\n  return {\n    from: first.departure?.iataCode || null,\n    to: last.arrival?.iataCode || null,\n    departAt: first.departure?.at || null,\n    arriveAt: last.arrival?.at || null,\n    duration: itinerary?.duration || null,\n    stops: Math.max(0, segs.length - 1),\n    segments: segs.map(s => ({\n      from: s.departure?.iataCode || null,\n      to: s.arrival?.iataCode || null,\n      departAt: s.departure?.at || null,\n      arriveAt: s.arrival?.at || null,\n      carrierCode: s.carrierCode || null,\n      number: s.number || null,\n      duration: s.duration || null\n    }))\n  };\n}\n\nfunction airlineNameFromOffer(offer) {\n  const code =\n    (offer.validatingAirlineCodes && offer.validatingAirlineCodes[0]) ||\n    offer.itineraries?.[0]?.segments?.[0]?.carrierCode ||\n    null;\n\n  return {\n    code,\n    name: code ? (carriers[code] || code) : null\n  };\n}\n\n// 3) Simplifica\nconst simplified = offers.slice(0, 5).map((offer) => {\n  const priceTotal = offer.price?.total || null;\n  const currency = offer.price?.currency || null;\n\n  const airline = airlineNameFromOffer(offer);\n\n  const outbound = pickSegmentInfo(offer.itineraries?.[0]);\n  const inbound = pickSegmentInfo(offer.itineraries?.[1]);\n\n  return {\n    airline: airline.name,\n    airlineCode: airline.code,\n    price: { total: priceTotal, currency },\n    outbound,\n    inbound,\n    // opcional: guarda o id da oferta (às vezes útil depois)\n    offerId: offer.id || null\n  };\n});\n\n// 4) Saída pequena e limpa\nreturn [{\n  json: {\n    flightOffers: simplified,\n    meta: {\n      totalOffersReceived: offers.length\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4784,
        1248
      ],
      "id": "31d09327-41c2-4180-a1da-9504a406d5de",
      "name": "Simplify Flights"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Solicitação do usuário (Atual):\n{{ $('Respond to Chat').isExecuted && $('Respond to Chat').item.json.chatInput ? $('Respond to Chat').item.json.chatInput : $('When chat message received').item.json.chatInput }}\n\nDados de Hotéis (se houver):\n{{ $('Simplify Hotels').isExecuted ? JSON.stringify($('Simplify Hotels').item.json.hotelOffers) : \"Nenhum hotel buscado ainda\" }}\n\nDados de Voos (se houver):\n{{ $('Simplify Flights').isExecuted ? JSON.stringify($('Simplify Flights').item.json.flightOffers) : \"Nenhum voo buscado ainda\" }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Você é o Supervisor de um fluxo de reserva de viagens. Sua função é analisar a conversa e decidir o próximo passo.\n\nESTADOS DISPONÍVEIS:\n\n    ASK_USER: Se campos obrigatórios (Destino ou Data de Ida) estiverem ausentes.\n\n    SEARCH: Se todos os campos obrigatórios estiverem presentes.\n\n    COMPLETE: Se a memória já contiver os resultados da pesquisa (voos/hotéis).\n\nREGRAS DE EXTRAÇÃO:\n\n    Obrigatórios: destinationCity, departureDate, originCity\n\n    Opcionais (com defaults):\n\n        adults: Se ausente, use 1.\n\n        children: Se ausente, use 0.\n\n        year: Se ausente, use 2026.\n\n    IATA: Sempre tente inferir o código IATA de 3 letras das cidades.\n\nLÓGICA DE DECISÃO:\n\n    Verifique o Histórico: Se as APIs já retornaram dados, sua decision é \"COMPLETE\" e você deve formatar a user_message final.\n\n    Verifique o Prompt: Se o usuário quer viajar mas não disse para onde ou quando, sua decision é \"ASK_USER\" e a user_message deve ser uma pergunta gentil.\n\n    Se houver dados suficientes, decision é \"SEARCH\".\n\nFORMATO DE SAÍDA OBRIGATÓRIO (JSON): Responda APENAS o JSON abaixo, sem blocos de código ou explicações. { \"decision\": \"SEARCH\" | \"ASK_USER\" | \"COMPLETE\", \"missing_info\": [], \"user_message\": \"Sua mensagem aqui\", \"search_params\": { ... } }"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        3360,
        944
      ],
      "id": "c24a83f9-e407-4ba3-a6f7-b34139f4b308",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"decision\": \"string\",\n  \"missing_info\": [\"string\"],\n  \"user_message\": \"string\",\n  \"search_params\": {\n    \"originCity\": \"string\",\n    \"originCityIATA\": \"string\",\n    \"destinationCity\": \"string\",\n    \"destinationCityIATA\": \"string\",\n    \"departureDate\": \"string\",\n    \"returnDate\": \"string\",\n    \"adults\": \"number\",\n    \"children\": \"number\"\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        3552,
        1168
      ],
      "id": "2f2abf7e-4a77-4a35-aaa5-c62648d8f4f4",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        3424,
        1168
      ],
      "id": "33b3c118-112a-4ea2-b1fc-e211a66c3742",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        2848,
        1168
      ],
      "id": "14a48e5c-cea7-4111-949e-35a8ed0376d0",
      "name": "When chat message received",
      "webhookId": "c686848c-b36e-4c28-abea-074f4f05a592"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.decision }}",
                    "rightValue": "=SEARCH",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "d394fcb2-a04a-4a7c-97e1-e629b65b1286"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2c118af7-6edf-491d-a211-995f64afbc74",
                    "leftValue": "={{ $json.output.decision }}",
                    "rightValue": "SEARCH",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        3760,
        944
      ],
      "id": "9e2a0555-ea6d-4d3d-a66b-f9432ac91d51",
      "name": "Switch"
    },
    {
      "parameters": {
        "message": "={{ $json.output.user_message }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        4064,
        928
      ],
      "id": "324bc922-71c3-4460-ae2e-625b5acebde4",
      "name": "Respond to Chat"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        4000,
        1472
      ],
      "id": "8d09e97b-5908-4a97-857b-83ab5f58a3ca",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "RfpwUsGUL9n2axUf",
          "name": "yorkis.gamer32"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3296,
        1168
      ],
      "id": "f4d3e4e5-e8e8-4991-b53a-bab3117a6745",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "RfpwUsGUL9n2axUf",
          "name": "yorkis.gamer32"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Amadeus OAuth Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Amadeus OAuth Token": {
      "main": [
        [
          {
            "node": "Buscar VOOS1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Buscar VOOS1": {
      "main": [
        [
          {
            "node": "Simplify Flights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Hotéis": {
      "main": [
        [
          {
            "node": "Simplify Hotels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simplify Hotels": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simplify Flights": {
      "main": [
        [
          {
            "node": "Buscar Hotéis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Respond to Chat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Chat": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "5c791b78-b1cb-4cfa-a146-a101034f32cc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "22ea323b6c85fbb2de3a8dedaefae6ec8edb82e9c1e169fef139445834eee221"
  },
  "id": "60A_Ve-oXDnJxMixD2gXI",
  "tags": []
}