workflows/baseado-em-estados/My workflow 2.json
{
  "name": "Baseado em estados",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Solicitação do usuário (Atual):\n{{ $json.body.chatInput }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Você é um agente de viagens baseado em estados. Sua função é planejar uma viagem para o usuário, o metodo usando é analisar a conversa e se possuir as informações necessárias decidir o próximo passo, ou perguntar por mais detalhes.\n\nESTADOS DISPONÍVEIS:\n\n    ASK_USER: Se campos obrigatórios estiverem ausentes.\n\n    SEARCH: Se todos os campos obrigatórios estiverem presentes.\n\n    COMPLETE: Se a memória já contiver os resultados da pesquisa (voos/hotéis).\n\nREGRAS DE EXTRAÇÃO:\n\n    Obrigatórios: Cidade de Destino, Cidade de partida, Data de partida e data de saída\n\n    Opcionais (com defaults):\n\n        year: Se ausente, use 2026.\n\n    IATA: Sempre use o código IATA de 3 letras das cidades.\n\nLÓGICA DE DECISÃO:\n\n    Verifique o Histórico: Se as APIs já retornaram dados, sua decision é \"COMPLETE\" e você deve formatar a user_message final.\n\n    Verifique o Prompt: Se o usuário quer viajar mas não disse para onde ou quando, sua decision é \"ASK_USER\" e a user_message deve ser uma pergunta gentil.\n\n    Se houver dados suficientes, decision é \"SEARCH\".\n\nRegras de Pesquisa:\n\n  Você possui 3 ferramentas TripAdvisor, Hotels, Flights.\n\n  Use a TripAdvisior apenas para descobrir pontos turísticos interesantes na cidade de destino.\n\nA hotels para os melhores hóteis com base no gosto do usuário.\n\nE a flights para encontrar os voos que mais combinam com os gostos do usuário.\n\nFORMATO DE SAÍDA OBRIGATÓRIO (JSON): Responda APENAS o JSON abaixo, sem blocos de código ou explicações. { \"decision\": \"SEARCH\" | \"ASK_USER\" | \"COMPLETE\", \"missing_info\": [], \"user_message\": \"Sua mensagem aqui\"}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2192,
        608
      ],
      "id": "e452eb95-52fd-4ff1-9bd5-4c0508c3c951",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"decision\": \"string\",\n  \"missing_info\": [\"string\"],\n  \"user_message\": \"string\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2800,
        864
      ],
      "id": "d2d66c98-84d4-434a-9086-f276efc54a12",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=a",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1984,
        912
      ],
      "id": "a948b9f6-d048-4aa0-bf96-fbcdf4a0e34a",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.1",
          "mode": "list",
          "cachedResultName": "gpt-5.1"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1856,
        912
      ],
      "id": "afda3509-17ca-4839-96ab-9ac2ca29ea6e",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "tkKS5g4EKLMRBwWj",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-state",
        "responseMode": "lastNode",
        "options": {
          "allowedOrigins": "*",
          "rawBody": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1632,
        688
      ],
      "id": "47100455-489a-4459-8f9c-3558ad9f5c1a",
      "name": "Webhook",
      "webhookId": "b370cdcf-53d2-48a7-b3da-718c7543dc89"
    },
    {
      "parameters": {
        "description": "=# Use esta ferramenta para buscar opções de voos diretamente no Amadeus Flights.\nÉ ideal para obter preços, companhias aéreas, duração, escalas e disponibilidade em tempo quase real.\n## Inputs obrigatórios: \n- Aeroporto ou cidade de origem em IATA (originLocationCode).\n- Aeroporto ou cidade de destino (destinationLocationCode).\n- data de ida (departureDate).\n- data de volta (returnDate).\n- qauntidade de adults. (coloque 1 como defalut, se não possuir inputs)\n## Regras:\n- Use esse formato para datas: YYYY/MM/DD.\n- Use esta ferramenta sempre que o plano de viagem exigir deslocamento aéreo entre cidades.\n",
        "workflowId": {
          "__rl": true,
          "value": "Ahkk4wM4A86EA7Np",
          "mode": "list",
          "cachedResultUrl": "/workflow/Ahkk4wM4A86EA7Np",
          "cachedResultName": "Voos"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "adults": "=1",
            "originLocationCode": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('originLocationCode', ``, 'string') }}",
            "destinationLocationCode": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('destinationLocationCode', ``, 'string') }}",
            "departureDate": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('departureDate', `should be in the format of YYYY-MM-DD. E.g. 2023-01-31.`, 'string') }}",
            "returnDate": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('returnDate', `should be in the format of YYYY-MM-DD. E.g. 2023-01-31.`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "originLocationCode",
              "displayName": "originLocationCode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "destinationLocationCode",
              "displayName": "destinationLocationCode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "departureDate",
              "displayName": "departureDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "returnDate",
              "displayName": "returnDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "adults",
              "displayName": "adults",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2304,
        864
      ],
      "id": "5dd8ee9c-9834-47c4-b058-2467a87379e1",
      "name": "Flights_search"
    },
    {
      "parameters": {
        "description": "=# Use esta ferramenta para buscar opções de hospedagem, hotéis e aluguéis de temporada diretamente no Google Hotels. É ideal para obter preços, avaliações e disponibilidade em tempo real. \n\n## Inputs obrigatórios: \n- Localização ou nome do hotel (parâmetro 'q').\n- data de check-in.\n- data de check-out.\n- número de adultos envolvidos nessa viajem. \n\nUse sempre que o plano de viagem que exigir uma estadia.\n",
        "workflowId": {
          "__rl": true,
          "value": "iLUgYlUMdYP21Pzy",
          "mode": "list",
          "cachedResultUrl": "/workflow/iLUgYlUMdYP21Pzy",
          "cachedResultName": "Hotel"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "q": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('q', `Nome da cidade por extenso (Ex: Maceió, Recife, Rio de Janeiro).`, 'string') }}",
            "check_in_date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('check_in_date', `should be in the format of YYYY-MM-DD. E.g. 2023-01-31.`, 'string') }}",
            "check_out_date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('check_out_date', `should be in the format of YYYY-MM-DD. E.g. 2023-01-31.`, 'string') }}",
            "adults": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('adults', `Default = 1`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "q",
              "displayName": "q",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "check_in_date",
              "displayName": "check_in_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "check_out_date",
              "displayName": "check_out_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "adults",
              "displayName": "adults",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2464,
        880
      ],
      "id": "e27da1fd-aa99-43d8-be2a-99a0be5a1393",
      "name": "Hotels_search"
    },
    {
      "parameters": {
        "description": "Use esta ferramenta para pesquisar atrações turísticas, pontos de interesse, restaurantes e ler avaliações detalhadas de viajantes no Tripadvisor. É a ferramenta principal para planejar roteiros, descobrir 'o que fazer' em um destino e verificar a popularidade de locais. Input principal: O nome da cidade ou ponto turístico no parâmetro 'q'. Use sempre que o usuário pedir recomendações de lazer ou quiser saber a opinião de outros viajantes.",
        "workflowId": {
          "__rl": true,
          "value": "039vyaJARsbpWzTA",
          "mode": "list",
          "cachedResultUrl": "/workflow/039vyaJARsbpWzTA",
          "cachedResultName": "DripAdvisor"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "q": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('q', `Required\nParameter defines the query you want to search. You can use anything that you would use in a regular Tripadvisor search.`, 'string') }}",
            "ssrc": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ssrc', `Optional\nThis parameter specifies the search filter you want to use for the Tripadvisor search.\nAvailable options:\na - All Results\nr - Restaurants\nA - Things to Do\nh - Hotels\ng - Destinations\nv - Vacation Rentals\nf - Forums\n\nNOTE: Tripadvisor has discontinued support for Vacation Rentals. As a result, using ssrc=v may return incomplete results or no results at all.`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "q",
              "displayName": "q",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "ssrc",
              "displayName": "ssrc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2624,
        880
      ],
      "id": "8ac265db-f976-4fe3-ab43-3f7b3caaaab6",
      "name": "Tripadvisor_search"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flights_search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Hotels_search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tripadvisor_search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "f6911e4d-7e45-4abd-b7b9-9171c6ff954f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "22ea323b6c85fbb2de3a8dedaefae6ec8edb82e9c1e169fef139445834eee221"
  },
  "id": "tSviAEph-DbbqcITJ0UDv",
  "tags": []
}